@using RestSharp
@model RootT
@{
    ViewData["Title"] = "Detect Language";

}


<div class="text-center" id="text-color">
    <h1 class="display-4">Language Detector</h1>
    <h6>Please input text to detect the language!</h6>
</div>

<form action="Detect" method="post" class="text-center">
    <textarea name="text" class="textboxsize" style="padding:1px" placeholder="Enter your text..." id="box-shadow" required></textarea>

    

    <div>
        <button type="submit" class="btn btn-success form-control" id="button"><h5>Detect</h5></button>
    </div>
</form>