@using RestSharp
@model RootT
@{
    ViewData["Title"] = "Detected";

}


<div class="text-center" id="text-color">
    <h1>Detected</h1>
    <p>The language was detected!</p>
</div>

<h6 class="text-center" id="text-color">Language: <strong>@Model.DataT.DetectedSourceLanguage.Name (@Model.DataT.DetectedSourceLanguage.Code)</strong></h6>