@using RestSharp
@model Root
@{
    ViewData["Title"] = "Supported Languages";
    
}


<div class="text-center" id="text-color">
    <h1 class="display-4">Supported Languages</h1>
    <p>Here is a list with all of the supported languages!</p>
    <hr>
</div>


@foreach (var item in Model.data.languages)
{

    <h6 class="text-center" id="text-color">@item.name (@item.code)</h6>
}

