@using RestSharp
@model RootT
@{
    ViewData["Title"] = "Translated Text";

}


<div class="text-center" id="text-color">
    <h1>Translated Text</h1>
    <p>This is the translated text!</p>
    <hr>
</div>


<h6 class="text-center" id="text-color">@Model.DataT.TranslatedText</h6>



