html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navbar {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.background {
    
}

.textboxsize {
    background-color: lightgrey;
    width: 1200px;
    height: 350px;
    margin: 50px;
    vertical-align: text-top;
    text-align: left;
    border-radius: 7px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

#styling {
    background-image: url('/Images/MAP.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#button {
    color: white;
    width: 150px;
    background-color: #000001;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    box-shadow: 0px 0px 30px 3px #000001;
    border-radius: 5px;
    margin: 20px;
}

#text-color {
    color: #000001;
}

#box-shadow {
    box-shadow: 0px 0px 20px 1px #000001;
    background-color: white;
    color: #000001;
    border-color: grey;
}

#navbartext {
    color: white;
}